@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fuzzy+Bubbles&family=Josefin+Sans:ital,wght@0,700;1,300&display=swap');
img{
    text-decoration: none;
    
}
.abs-center{
    display: flex;
    align-items: right;
    justify-content: right;    
    
}
.w-100{
    height: 550px;    
    width: 700px;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    
}
li>a:hover{
    background-color: cyan;
    color: darkblue;
    padding: 15%;       
}
h5{
    color: #abb0f3;
}
.card{
    background-color: rgb(11, 1, 63);
}
h3{
    background: -webkit-linear-gradient(rgb(243, 243, 250),rgb(114, 115, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;       
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px; 
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px rgb(84, 119, 165), 0 0 25px rgb(0, 0, 248), 0 0 5px rgb(5, 5, 75);
}
/****** Formulario******/
.text{
    background: -webkit-linear-gradient(rgb(3, 36, 109),rgb(123, 125, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    color: #008891;
    padding-bottom: 20px;
}
.container{
    background-color: #A3D8F4;
    opacity: 0.9;
    margin-top: 80px;
    margin-bottom: 20px;
    
}
/********** Info *********/
h6{
    color: #000000;
    font-family: 'Fuzzy Bubbles', cursive;
}
.bg{
    background-color: #008891;
    margin-top: 150px;
    margin-right: 50px;
    color: wheat;
}
p{
    font-size: 19px;
    color: #000000;
}